.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1976d2;
  padding: 15px 30px;
  color: white;
  font-size: larger;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}
